
input[type="checkbox"]:checked{
  /* appearance:none;
  width: 20px;
  height: 20px;
  border: 2px solid red; 
  border-radius: 3px; */
  outline : 2px solid red;
}
/* input[type="checkbox"]:checked{
    background-color:blue;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%; 
} */





